body {
  background-color: lightgray;
}

.App {
  text-align: center;
  padding: 20px;
}

input {
  height: 30px;
  width: 200px;
  border-radius: 4px;
  padding-left: 10px;
}
button {
  height: 36px;
  border-radius: 4px;
  margin-left: 10px;
}
.filterInput {
  width: 270px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.restaurantCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardContainer {
  background-color: white;
  width: 40%;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.25);
}